body {
    background-repeat: no-repeat;
    background-size: cover;
}

#nav {
    padding-left: 180px;
    padding-right: 200px;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    z-index: 0;
}

#holder {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

#content {
    margin-top: 180px;
}

#content h1 {
    color: white;
    font-size: 70px;
}

#content p {
    color: white;
    font-size: 30px;
}

#right {
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    padding-top: 40px;
}


/*Small devices (landscape phones, less than 768px)*/

@media (max-width: 767px) {
    #nav {
        padding-left: 10px;
        padding-right: 10px;
        background-color: rgba(0, 0, 0, 0.0);
        position: absolute;
        width: 100%;
        z-index: 0;
    }

    #content {
        margin-top: 240px;
    }

    #content h1 {
        color: white;
        font-size: 50px;
        text-align: center;
    }

    #content p {
        color: white;
        font-size: 20px;
        text-align: center;
    }

    #right {
        background-color: rgba(255, 255, 255, 0.0);
        text-align: center;
        padding-top: 30px;
    }
